{% extends 'base.html'%}
{%block title%}Kindergarten{%endblock%}
{%block content%}
<div>
    <div>
        <section class="projects1" style="text-align: center; padding: 77px;">
            <h1 style="font-family:Work Sans,sans serif;font-size: 4em; margin-bottom: 94px;">Aroha Kindergarten</h1>
            <div class="project-container1" style="display: flex; justify-content: center; gap: 87px;">
                <div class="project-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/image18.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="project-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/image19.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="project-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/k1.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="projects2" style="text-align: center; padding: 77px;">
            <div class="project-container2" style="display: flex; justify-content: center; gap: 87px;">
                <div class="project-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/k2.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="project-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/k3.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="project-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/image17.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="projects3" style="text-align: center; padding: 77px;">
            <div class="project-container3" style="display: flex; justify-content: center; gap: 87px;">
                <div class="project-card3" style="width: 410px; border-radius: 3px; overflow:hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/image20.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="project-card3" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/k4.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="project-card3" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/image21.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="projects4" style="text-align: center; padding: 77px;">
            <div class="project-container4" style="display: flex; justify-content: center; gap: 87px;">
                <div class="project-card4" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/k6.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="project-card4" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/image16.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
</div>
{%endblock%}
