{% extends "base.html" %}
{%block title%}Minimalist Architecture{%endblock%}
{%block content%}
<div>
    <div>
        <section class="mprojects1" style="text-align: center; padding: 77px;">
            <h1 style="font-family:Work Sans,sans serif;font-size: 4em; margin-bottom: 94px;">Minimalist Architecture</h1>
            <div class="mproject-container1" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/m1.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/m2.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="mproject-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/m3.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="mprojects2" style="text-align: center; padding: 77px;">
            <div class="mproject-container2" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/m4.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/m5.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="mproject-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/m6.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="mprojects3" style="text-align: center; padding: 77px;">
            <div class="mproject-container" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card3" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/m7.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card3" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/m8.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="mproject-card3" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/m9.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="mprojects4" style="text-align: center; padding: 77px;">
            <div class="mproject-container4" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card4" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/m10.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card4" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/m11.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="mproject-card4" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/m12.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px;filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>

{%endblock%}