{%extends 'base.html'%}
{%block title%}Morico Cafe{%endblock%}
{%block content%}
<div>
    <div>
        <section class="mprojects1" style="text-align: center; padding: 77px;">
            <h1 style="font-family:Work Sans,sans serif;font-size: 4em; margin-bottom: 94px;">Morico Cafe</h1>
            <div class="mproject-container1" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/l2.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/l7.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="mproject-card1" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/l4.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="mprojects2" style="text-align: center; padding: 77px;">
            <div class="mproject-container2" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/l5.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/l6.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="mproject-card2" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/l3.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="mprojects3" style="text-align: center; padding: 77px;">
            <div class="mproject-container3" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card3" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/l8.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card3" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/l9.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="mproject-card3" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/l10.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="mprojects4" style="text-align: center; padding: 77px;">
            <div class="mproject-container4" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card4" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/l11.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card4" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/l12.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                <div class="mproject-card4" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                    <img src="../static/images/l13.jpg" alt="Naturally Sustainable" style="width: 100%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
            </div>
        </section>
        <section class="mprojects5" style="text-align: center; padding: 77px;">
            <div class="mproject-container5" style="display: flex; justify-content: center; gap: 87px;">
                <div class="mproject-card5" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
                
                  <img src="../static/images/l14.jpg" alt="Northland Rural Haven" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                    
                </div>
                <div class="mproject-card5" style="width: 410px; border-radius: 3px; overflow: hidden; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <img src="../static/images/l15.jpg" alt="Contemporary Coastal" style="width: 116%; height: 370px; filter:grayscale(100%);transition:filter 0.5s ease_in_out;" onmouseover="this.style.filter='grayscale(0%)'" onmouseout="this.style.filter='grayscale(100%)'">
                </div>
                
            </div>
        </section>
    </div>
</div>
{%endblock%}